/ArrayFruitore.class
/ArrayPrestito.class
/Categoria.class
/Costanti.class
/Fruitore.class
/GestioneMenu.class
/Libri.class
/Libro.class
/Main.class
/Prestito.class
/PrestitoLibro.class
/PrestitoMap.class
/Risorsa.class
/Loanable.class
